
	<nav class="navbar">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">
				<%= image_tag "logo-active.png", :alt => "Logo " %></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right main-nav">
					<li><a href="#intro">Intro</a></li>
					<li><a href="#services">Services</a></li>
					<li><a href="#team">Team</a></li>
					<li><a href="#pricing">Pricing</a></li>
					<li><!-- <a href="" data-toggle="modal" data-target="#modal1" class="btn btn-blue">Sign Up</a> -->
					<%= link_to "Sign Up", new_user_path, :remote => true, 'data-toggle' => 'modal', 'data-target' => '#modal1', :class => "btn btn-blue", method: 'get' %>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<header id="intro">
		<div class="container">
			<div class="table">
				<div class="header-text">
					<div class="row">
						<div class="col-md-12 text-center">
							<h3 class="light white">Be Beside Your Friends.</h3>
							<h1 class="white typed">Connect With Them right now.</h1>
							<span class="typed-cursor">|</span>
							<% if !flash.empty? %>
								<h4 class="light white">
									<% flash.each do |key, value| %>
		  								<%= content_tag :div, value, class: "flash #{key}" %>
									<% end %>
								</h4>
   							 <% end %>   
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>